body.light {
    background-image: url('./assets/images/pattern-background-mobile-light.svg');
    background-color: rgba(244, 246, 250,0.6);
    background-blend-mode: lighten;
    --main-text-color: #313E51;
    --description-text-color: #626C7F;
    --box-background-color: #FFFFFF;
}

body.dark {
    background-image: url('./assets/images/pattern-background-mobile-dark.svg');
    background-color: rgba(49, 62, 81,0.99);
    background-blend-mode: darken;
    --main-text-color: #FFFFFF;
    --description-text-color: #ABC1E1;
    --box-background-color: #3B4D66;
}