.optionContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--question-option-background);
  font-family: "Rubik", sans-serif;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 12px;
  align-items: center;
  gap: 1rem;
}

.optionContainer:hover {
  cursor: pointer;
}

.optionCorrect {
  border: 3px solid #2fd887;
}

.optionIncorrect {
  border: 3px solid #ee5454;
}

.optionSelected {
  border: 3px solid #a729f5;
}

.questionLetterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(10rem / 16) calc(15rem / 16);
  background-color: #f4f6fa;
  border-radius: 6px;
  color: #626c7f;
}
.questionLetter {
  font-size: calc(18rem / 16);
}

.optionText {
  color: var(--main-text-color);
  font-weight: 600;
  font-size: calc(18rem / 16);
}

@media (min-width: 70rem) {
  .optionText {
    font-size: calc(28rem / 16);
  }

  .optionContainer {
    padding: 2rem;
  }
}
