.homeScreenContainer {
  margin: calc(32rem / 16) calc(24rem / 16);
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--main-text-color);
  font-size: calc(40rem / 16);
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  line-height: 120%;
}

.title span {
  font-weight: 500;
}

.description {
  font-family: "Rubik", sans-serif;
  font-style: italic;
  font-size: calc(14rem / 16);
  font-weight: 200;
  color: var(--description-text-color);
}

.titleSection {
  margin-bottom: calc(40rem / 16);
}

.categorySelection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.imageContainer {
  display: inline-flex;
  border-radius: 6px;
}

.categoryIcon {
  width: calc(23rem / 16);
  margin: calc(6rem / 16);
}

.htmlImageContainer {
  background-color: #fff5ed;
}

.cssImageContainer {
  background-color: #e0fdef;
}

.javascriptImageContainer {
  background-color: #ebf0ff;
}

.accessibilityImageContainer {
  background-color: #f6e7ff;
}

.category {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: var(--main-text-color);
  background-color: var(--box-background-color);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 16px 40px var(--box-shadow-color);
}

.category:hover {
  cursor: pointer;
}

.categoryName {
  margin: 0;
  font-size: calc(18rem / 16);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width: 70rem) {
  .homeScreenContainer {
    flex-direction: row;
    justify-content: space-between;
    margin: calc(140rem / 16) calc(140rem / 16);
    gap: calc(140rem / 16);
  }

  .categorySelection {
    min-width: calc(500rem / 16);
  }

  .category {
    padding: 2rem;
  }

  .categoryName {
    font-size: calc(28rem / 16);
  }

  .categoryIcon {
    width: calc(32rem / 16);
  }

  .title {
    font-size: calc(64rem / 16);
    max-width: calc(500rem / 16);
    margin-bottom: calc(70rem / 16);
  }

  .description {
    font-size: calc(20rem / 16);
  }
}
