.resultsContainer {
  margin: 0 calc(24rem / 16);
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--main-text-color);
  font-size: calc(40rem / 16);
  font-family: "Rubik", sans-serif;
  margin-bottom: calc(40rem / 16);
  margin-top: calc(32rem / 16);
}

.title span {
  font-weight: 500;
}

.resultBox {
  display: flex;
  background-color: var(--question-option-background);
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  border-radius: 12px;
}

.result {
  font-size: calc(88rem / 16);
  color: var(--main-text-color);
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.resultOutOf {
  color: var(--description-text-color);
  font-family: "Rubik", sans-serif;
  font-weight: 450;
  font-size: calc(18rem / 16);
}

.playAgainButton {
  width: 100%;
  background-color: #a729f5;
  border: none;
  outline: none;
  color: white;
  font-family: "Rubik", sans-serif;
  padding: 2rem 0;
  border-radius: 24px;
  margin-top: 2rem;
  font-size: calc(20rem / 16);
  font-weight: 500;
}

.playAgainButton:hover {
  cursor: pointer;
}

@media (min-width: 70rem) {
  .resultsContainer {
    flex-direction: row;
    gap: calc(140rem / 16);
    justify-content: space-between;
    margin: calc(140rem / 16);
  }

  .resultBox {
    min-width: calc(600rem / 16);
  }

  .rightContainer {
    min-width: calc(600rem / 16);
  }

  .title {
    font-size: calc(64rem / 16);
  }

  .result {
    font-size: calc(144rem / 16);
  }

  .resultOutOf {
    font-size: calc(24rem / 16);
  }
}
